.navbar-nav {
	margin-top: 15px;
}

#spa-master {
	padding-bottom: 20px;
	background-color: white;
}

.footer {
	padding-top: 15px;
	margin-bottom: 40px;
	width: 100%;
	min-height: 50px;
	color: gray;
	font-size: 12px;
	margin-top:20px;
}

body {
	padding-bottom: 0px;
	padding-top: 0px;
	line-height: 23px;
}

h3 {
	font-size: 23px;
	border-bottom: 1px solid #F0F0F0;
}

#noscript-warning {
	padding-top: 70px;
	background-color: #F8F8F8;
	color: #333;
	font-size: 18px;
	width: 100%;
	text-align: center;
	margin: auto;
	width: 100%;
	height: 100%;
	z-index: 1031;
}

.navbar-default {
	background-color: white;
}

.navbar-default .navbar-nav > li > a {
	color: #428BCA;
}

.navbar-default .navbar-nav > li > a:hover {
	color: #428BCA;
	text-decoration: underline;
}

.navbar-default .navbar-nav > li > a:visited {
	color: #428BCA;
}

.navbar-default .navbar-nav > li > a:active {
	color: #428BCA;
	text-decoration: underline;
}

.navbar {
	border-bottom: 0px;
}

.footer div.container {
	border: 0px;
}

.first-column {
	background-color: white;
}

div#about-page-greek div.container div.row div.first-column ul li {
	list-style-type: none;
	margin-bottom: 20px;
	display: inline-block;
}

div#about-page-greek div.container div.row div.first-column ul li span {
	background-color: #C4E3F3;
	border-radius: 15px;
	padding: 10px;
}

.affix-top, .affix {
	list-style-type: none;
	background: #F0F0F0;
	padding: 10px;
	height: 205px;
	width: 309px;
	margin-top: 10px;
	z-index: 3000;
}

h1 {
	font-size: 37px;
	border-bottom: 1px solid #F0F0F0;
}

.affix {
	top: 0px;
}
.affix-top {
	position: static;
}
.affix-top li.active, .affix li.active {
	font-weight: bold;
}

h1, h3 {
	padding-bottom: 10px;
}

#banner2 {
	border-top: 1px solid rgb(231, 231, 231);
	border-bottom: 1px solid rgb(231, 231, 231);
	padding-top: 10px;
	padding-bottom: 10px;
	color: white;
	background: -moz-linear-gradient(top , #428BCA, #155183) repeat scroll 0 0 rgba(0, 0, 0, 0);
	background: -webkit-linear-gradient(top , #428BCA, #155183) repeat scroll 0 0 rgba(0, 0, 0, 0);
	background: -o-linear-gradient(top , #428BCA, #155183) repeat scroll 0 0 rgba(0, 0, 0, 0);
	background: -ms-linear-gradient(top , #428BCA, #155183) repeat scroll 0 0 rgba(0, 0, 0, 0);
	background: -linear-gradient(top , #428BCA, #155183) repeat scroll 0 0 rgba(0, 0, 0, 0);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#428BCA,endColorstr=#155183);    
    	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#428BCA, endColorstr=#155183)";
	padding-bottom: 70px;
}

#banner2 h3 {
	font-size: 37px;
	border-bottom: 0px;
}

.navbar {
	margin-bottom: 0px;
}

#navbar-greek {
}

div#about-page-greek div.container div.row div.first-column div#skills ul {
	padding-top: 10px;
}

#banner_wrapper {
	margin-top: 40px;
	text-align: center;
}

label {
	display: inline-block;
	width: 150px;
	font-weight: normal;
}

.btn-lg {
	font-size: 23px;
	line-height: 23px;
}

#scroll-to-top {
	position: fixed;
	bottom: 10px;
	right: 20px;
	z-index: 9999;
}

#logo_box_container {
	text-align: center;
	margin-top: 50px;
}

#follow-me-links {
	text-align: right;
}

div#skills ul {
	padding-left: 0px;
}

div#languages ul {
	padding-left: 15px;
}

html body div#spa-master div#home-page-greek-div div#about-page-greek div.container div.row div.first-column div#languages ul li {
	display: list-item;
	list-style-type: disc;
	margin-left: 0px;
	margin-bottom: 0px;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus
{
	color:#428BCA;
}
